@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

#root {
  overflow-x: hidden;
}